*{
	padding: 1px;
	margin: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	

}

.cols{
	display: grid;
	grid-template-columns: 50% 50%;
}


.header{
	height: 100px;
	text-align: center;
	font-size: 20px;
	background-color: whitesmoke;
}



.agregarCriminal,.agregarRespetable{
	height: 250px;
	text-align: center;
	background-color: rgb(120, 243, 120);
	
}

.modificarCriminal,.modificarRespetable{
	background-color: rgb(243, 243, 92);
	text-align: center;
	height: 250px;
}
.eliminarCriminal, .eliminarRespetable{
	background-color: #FF5F40;
	text-align: center;
	height: auto;
}

.footer{
	height: auto;
	text-align: center;
	background-color: whitesmoke;
}

button{
	background-color: whitesmoke;
	padding: 15px;
	width: 200px;
	text-align: center;
	border-radius: 10%;
}